{% extends 'cockpit/base.html' %}
{% load static %}
{% load my_tags %}
{% block header %}

<!-- <script type="text/javascript" src="{% static 'cockpit/js/acquisition_report_detail.js' %}"></script> -->

{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
      <div class="card">
        <div class="card-header bg-info">
          <h2>{{ acquisition_report.date|date:"F Y"}} tarihli sağlama birimi faaliyet raporu</h2>
        </div>
  
        <table class="table table-sm striped">
          <thead class="">
            <th colspan="2">{{ acquisition_report.date|date:"F Y" }}</th>
            <th class="text-right">{{ acquisition_report.date|date:"Y"}}</th>
            <th class="text-right">Yüzde</th>
            <th>Yasama yılı</th>
  
          </thead>
          <tbody>
            <tr class=""><th colspan="6" class="bg-warning">Tanımlayıcı bilgiler</th></tr>
            <!-- <tr>
              <td class="" scope="row">Raporu hazırlayan kişi </td>
              <td class="text-right">
                {{acquisition_report.reporter_title}}
              </td>
              <td class="text-right"></td>
              <td class="text-right">%</td>
              <td>zz</td>            
            </tr> -->
            <tr>
              <td>Kütüphaneden gönderilen kitap sayısı</td>
              <td>2342</td>
              <td  class="text-right">1231231</td>
              <td  class="text-right">%45</td>
              <td  class="text-right">1293190</td>
            </tr>
            <tr>
              <td>Yeniden düzenlenip envanteri yapılan yayın sayısı</td>
              <td>3100</td>
              <td  class="text-right">34222</td>
              <td  class="text-right">%22</td>
              <td  class="text-right">12000</td>
            </tr>
          </tbody>
        </table>
        <table class="table table-sm striped">
          <tr><th colspan="6" class="bg-warning">Yayın türüne göre veriler</th></tr>
            <thead>
                <th class="text-right"></th>
                {% if journal.pub_type %}
                <th class="text-right" >{{journal.pub_type}}</th>
                {% else %}
                <th >-</th>
                {% endif %}
                {% if newspaper.pub_type %}
                <th class="text-right">{{newspaper.pub_type}}</th>
                {% else %}
                <th>-</th>
                {% endif %}
                {% if book.pub_type %}
                <th class="text-right">{{book.pub_type}}</th>
                {% else %}
                <th>-</th>
                {% endif %}               

            </thead>
            <tbody>
                <tr>
                    <td>Derlemeden gelen yayın</td>
                    <td class="text-right">{{journal.pub_arrived_as_supply}}</td>
                    <td class="text-right">{{newspaper.pub_arrived_as_supply}}</td>
                    <td class="text-right">{{book.pub_arrived_as_supply}}</td>

                </tr>
                <tr>
                    <td>Hediye gelen yayın</td>
                    <td class="text-right">{{journal.pub_arrived_as_gift}}</td>
                    <td class="text-right">{{newspaper.pub_arrived_as_gift}}</td>
                    <td class="text-right">{{book.pub_arrived_as_gift}}</td>

                </tr>
                <tr>
                    <td>Satın alınan yayın</td>
                    <td class="text-right">{{journal.pub_bought}}</td>
                    <td class="text-right">{{newspaper.pub_bought}}</td>
                    <td class="text-right">{{book.pub_bought}}</td>

                </tr>
                <tr>
                    <td>Derlemeden koleksiyona...</td>
                    <td class="text-right">{{journal.pub_saved_as_supply}}</td>
                    <td class="text-right">{{newspaper.pub_saved_as_supply}}</td>
                    <td class="text-right">{{book.pub_saved_as_supply}}</td>

                </tr>
                <tr>
                    <td>Hediyeden koleksiyona...</td>
                    <td class="text-right">{{journal.pub_saved_as_gift}}</td>
                    <td class="text-right">{{newspaper.pub_saved_as_gift}}</td>
                    <td class="text-right">{{book.pub_saved_as_gift}}</td>

                </tr>
                <tr>
                    <td>Eski etiketiyle koleksiyona...</td>
                    <td class="text-right">{{journal.pub_saved_as_old}}</td>
                    <td class="text-right">{{newspaper.pub_saved_as_old}}</td>
                    <td class="text-right">{{book.pub_saved_as_old}}</td>

                </tr>
            </tbody>
        </table>
        <div class="card-footer">
          <div class="row justify-content-between">
            
            <div class="col-sm">
              <a class="d-print-none btn btn-info btn-sm" href="{% url 'acquisition_report_index' %}">Listeye Dön</a>
            </div>
            {%  if user.is_authenticated %}
            <div class=" d-print-none col-sm">
              <a id="sil" class="btn btn-warning btn-sm float-right ml-2" href=" {% url 'acquisition_report_edit' acquisition_report.pk %} ">Düzenle</a>
              <a class="btn btn-danger btn-sm float-right" href=" {% url 'acquisition_report_destroy' acquisition_report.pk %} ">Sil</a>
            </div>
            {% endif %}
            
     
  
          </div>
        </div>
        <p>Notlar : {{ acquisition_report.notes}}</p>
        <div>
          <p  class="text-right mr-2 mb-0">Belgeyi oluşturan</p>
          <p class="text-right mr-2 mt-0 mb-0">{{ acquisition_report.reporter_identity}}</p>
          <p  class="text-right mr-2 mb-0">{{ acquisition_report.reporter_title}}</p>
          <p  class="text-right mr-2">{{ acquisition_report.created_at}}</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block footer %}
<script type="text/javascript" src="{% static 'cockpit/js/acquisition_report_detail.js' %}"></script>
{% endblock %}
