{% extends 'cockpit/base.html' %}
{% load static %}
{% load my_tags %}
{% block header %}
{% endblock %}

{% block content %}
{{ acquisition_report.reporter_title }}
{{ acquisition_analytics }}
{{ book }}


<div class="container">
    <div class="row justify-content-center">
      <div class="card">
        <div class="card-header bg-info">
          <h2>{{ acquisition_report.date|date:"F Y"}} tarihli sağlama birimi faaliyet raporu</h2>
        </div>
  
        <table class="table table-sm striped">
          <thead class="">
            <th colspan="2">{{ acquisition_report.date|date:"F Y" }}</th>
            <th class="text-right">{{ acquisition_report.date|date:"Y"}}</th>
            <th class="text-right">Yüzde</th>
            <th>Yasama yılı</th>
  
          </thead>
          <tbody>
            <tr class=""><th colspan="5" class="bg-warning">Tanımlayıcı bilgiler</th></tr>
            <tr>
              <td class="" scope="row">Raporu hazırlayan kişi </td>
              <td class="text-right">
                {{acquisition_report.reporter_title}}
              </td>
              <td class="text-right"></td>
              <td class="text-right">%</td>
              <td>zz</td>            
            </tr>
  
           
  
            <tr><th colspan="4" class="bg-warning">Tahsilat (TL)</th></tr>
            
           
  
          </tbody>
        </table>
        <table>
            <thead>
                <th></th>
                <th>{{journal.pub_type}}</th>

                <th>Gazete</th>
                <th>Kitap</th>

            </thead>
            <tbody>
                <tr>
                    <td>Derlemeden gelen yayın</td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td>Hediye gelen yayın</td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td>Satın alınan yayın</td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td>Derlemeden koleksiyona...</td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td>Hediyeden koleksiyona...</td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td>Eski etiketiyle koleksiyona...</td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
            </tbody>
        </table>
        <div class="card-footer">
          <div class="row justify-content-between">
            
            <div class="col-sm">
              <a class="btn btn-info btn-sm" href="{% url 'acquisition_report_index' %}">Listeye Dön</a>
            </div>
            {%  if user.is_authenticated %}
            <div class="col-sm">
              <a class="btn btn-warning btn-sm float-right ml-2" href="#">Düzenle</a>
              <a class="btn btn-danger btn-sm float-right" href="#">Sil</a>
            </div>
            {% endif %}
            
     
  
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
