{% extends 'cockpit/base.html' %}
{% load static %}


{% block content  %}
<div>
  {%  if user.is_authenticated %}
  <a class="btn btn-primary btn-sm" href="{% url 'new_record_ref' %}"
    >Yeni Kayıt Ekle</a
  >
  <i data-feather="arrow-right"></i>
  {% endif %}
</div>
{% if latest_data_list %}
<div class="table-responsive" >
<table class="table" >
  <thead class="">
    <div class="ml-2">
    <th scope="col">Kayıt</th>
    <th class="text-right" scope="col">Dış kullanıcı</th>
    <th class="text-right" scope="col">İç Kullanıcı</th>
    <th class="text-right">Online dış kullanıcı</th>
    <th class="text-right">Online iç kullanıcı</th>
    <th class="text-right">Ödünç Alınan kitap</th>
    <th class="text-right">İade Edilen kitap</th>
    <th class="text-right">Fotokopi Adet</th>
    <th class="text-right">Tarih</th>
    <th></th>
    <th></th>
  </div>
  </thead>
  <tbody>
    <ul>
      {% for data in latest_data_list %}

      <tr>
        <td><a href="/referans/{{ data.id }}">Detay</a></td>
        <td class="text-right">{{data.user_from_out}}</td>
        <td class="text-right">{{data.user_from_inside}}</td>
        <td class="text-right">{{data.online_user_outside}}</td>
        <td class="text-right">{{data.online_user_inside}}</td>
        <td class="text-right">{{data.borrowed_books}}</td>
        <td class="text-right">{{data.retired_books}}</td>
        <td class="text-right">{{data.photocopy}}</td>
        <td class="text-right">{{data.record_date|date:"M Y"}}</td>
        {%  if user.is_authenticated %}
        <td><a href="{% url 'edit_reference' data.pk %}">Düzenle</a></td>
        <td><a class="text-danger" href="{% url 'edit_reference' data.pk%}?sil=True">Sil</a></td>
        {% endif %}
      </tr>
      {% endfor %}
    </ul>
  </tbody>
</table>
</div>
{% else %}
<p>No data is available.</p>
{% endif %}

{% endblock %}


