{% include 'cockpit/header.html' %} {% load static %}

<div>
  {%  if user.is_authenticated %}
  <a class="btn btn-primary btn-sm" href="{% url 'new_record_ref' %}"
    >Yeni Kayıt Ekle</a
  >
  <i data-feather="arrow-right"></i>
  {% endif %}
</div>
{% if latest_data_list %}
<table class="table table-dark" border="1">
  <thead class="">
    <div class="ml-2">
    <th scope="col">Kayıt</th>
    <th scope="col">Dış kullanıcı</th>
    <th scope="col">İç Kullanıcı</th>
    <th>Online dış kullanıcı</th>
    <th>Online iç kullanıcı</th>
    <th>Ödünç Alınan kitap</th>
    <th>İade Edilen kitap</th>
    <th>Fotokopi Adet</th>
    <th>Tarih</th>
  </div>
  </thead>
  <tbody>
    <ul>
      {% for data in latest_data_list %}

      <tr>
        <td><a href="/referans/{{ data.id }}">Detay</a></td>
        <td>{{data.user_from_out}}</td>
        <td>{{data.user_from_inside}}</td>
        <td>{{data.online_user_outside}}</td>
        <td>{{data.online_user_inside}}</td>
        <td>{{data.borrowed_books}}</td>
        <td>{{data.retired_books}}</td>
        <td>{{data.photocopy}}</td>
        <td>{{data.record_date|date:"M Y"}}</td>
        <td><a href="{% url 'edit_reference' data.pk %}">Düzenle</a></td>
        <td><a class="text-danger" href="{% url 'edit_reference' data.pk%}?sil=True">Sil</a></td>
      </tr>
      {% endfor %}
    </ul>
  </tbody>
</table>
<div class="chart">
  <p></p>
</div>
{% else %}
<p>No data is available.</p>
{% endif %} {% include 'cockpit/footer.html' %}
