{% include 'cockpit/header.html' %} {% load my_tags %}
<div class="container">
  <div class="row justify-content-center">
    <div class="card">
      <div class="card-header bg-info">
        <h2>{{ referenceserviceanalytic.date|date:"F Y"}} tarihli kayıt
        detayları</h2>
      </div>

      <table class="table ">
        <tbody>
          <tr>
            <th class="" scope="row">Dışarıdan gelen kullanıcı sayısı</th>
            <td class="text-right">
              {{ referenceserviceanalytic.user_from_out|rjust:"100"}}
            </td>
            
          </tr>
          <tr>
            <th scope="row">Kurum içi gelen kullanıcı sayısı</th>
            <td class="text-right">
              {{ referenceserviceanalytic.user_from_inside }}
            </td>
            
          </tr>
          <tr>
            <th scope="row">Online gelen dış kullanıcı sayısı</th>
            <td class="text-right">
              {{ referenceserviceanalytic.online_user_outside }}
            </td>
          </tr>
          <tr>
            <th scope="row">Online gelen iç kullanıcı sayısı</th>
            <td class="text-right">
              {{ referenceserviceanalytic.online_user_inside }}
            </td>
          </tr>
          <tr>
            <th scope="row">Ödünç verilen kitap sayısı</th>
            <td class="text-right">
              {{referenceserviceanalytic.borrowed_books}}
            </td>
          </tr>
          <tr>
            <th scope="row">İade edilen kitap sayısı</th>
            <td class="text-right">
              {{referenceserviceanalytic.retired_books}}
            </td>
          </tr>
          <tr>
            <th scope="row">Çekilen fotokopi sayısı</th>
            <td class="text-right">{{referenceserviceanalytic.photocopy}}</td>
          </tr>
        </tbody>
      </table>
      <div class="card-footer">
        <div class="row justify-content-between">
          
          <div class="col-sm">
            <a class="btn btn-info btn-sm" href="{% url 'reference_index' %}">Listeye Dön</a>
          </div>
          {%  if user.is_authenticated %}
          <div class="col-sm">
            <a class="btn btn-warning btn-sm float-right ml-2" href="{% url 'edit_reference' referenceserviceanalytic.pk  %}">Düzenle</a>
            <a class="btn btn-danger btn-sm float-right" href="#">Sil</a>
          </div>
          {% endif %}
          
   

        </div>
      </div>
    </div>
  </div>
</div>

{% include 'cockpit/footer.html' %}
