{% include 'cockpit/header.html' %}
{% load static %}
<h1>Referans tabloları</h1>
<script type="text/javascript" src="{% static 'cockpit/js/reference_chart.js' %}"></script>

<svg >
    <path d="M1212 12" fill="none" stroke="blue" stroke-width="1.23"></path>

</svg>
<svg viewBox="0 0 500 400">
    <path d="" fill="none" stroke="steelblue" stroke-width="1.5" stroke-miterlimit="1"></path>
    ${d3.select(svg`<g>`).call(xAxis).node()}
    ${d3.select(svg`<g>`).call(yAxis).node()}
  </svg>



{% include 'cockpit/footer.html' %}