{% extends 'cockpit/base.html' %}
{% load static %}

{% block content %}
<div class="container bg-light">
    <div style="background-color: darksalmon">
    <p>Ad Soyad : {{ saglama_report.reporter_identity }}</p>
    <p>Ünvan: {{ saglama_report.reporter_title }} / Rapor Tarihi:  {{ saglama_report.date }}</p>
    </div>
    <h1>Sağlama birimi verisi ekleme formu</h1>
{% if errors %}
<p>{{ errors }}</p>
{% endif %}

<form method="POST">
    {% csrf_token %}
       
    <table class="table table-striped" >
    {{ form }}
    </table>
    <input class="btn btn-primary" type="submit" value="Kaydet" >
    
</form>

</div>
{% endblock %}